# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\工资管理系统\wage\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
